<h1>Beacons is a platform for kids.</h1>

			<%= image_tag("superhero_icon.png", class: "step-icons") %>

<h2>BEACONS MATCHES SUPERHERO KIDS TO SUPER GOOD CAUSES. BY HELPING OTHERS, KIDS GET SUPERPOWERS AND BECOME ONLINE SUPERHEROES.</h2>