<div>
	<h1 class="projects">WHAT'S YOUR SUPERPOWER?</h1>
</div>

<ul class="custom-menu"> 
    <li class="custom-menu1">  
        <%= link_to(sunshine_path) do %>
            <div class="content"> 
            <h2 class="link">Lightning Power</h2>
            <h3 class="secondary">Your Mission</h3> 
            <p class="info"><%= image_tag("lightning_icon.png", id: "project_icons") %></p>
            <p class="mission">Project Sunshine needs Sunny Grams, and you are just the superhero to do it.</p>
            </div>
        <% end %>
    </li> 
     
     
<li class="custom-menu2"> 
        <a href="#">
            <div class="content"> 
            <h2 class="link">Shapeshifting</h2>
            <h3 class="secondary">Your Mission</h3> 
            <p class="info"><%= image_tag("shapeshifting_icon.png", id: "project_icons") %></p>
            <p class="mission">Ben’s Lighthouse needs a new website, and you are just the superhero to do it.</p>
            </div>
        </a> 
    </li> 
 
 
 
<li class="custom-menu3"> 
        <a href="#">
            <div class="content"> 
            <h2 class="link">Flying</h2>
            <h3 class="secondary">Your Mission</h3>
            <p class="info"><%= image_tag("flying_icon.png", id: "project_icons") %></p>
            <p class="mission">Soldiers overseas need cards, and you are just the superhero to do it.</p>
            </div>
        </a> 
    </li> 
 
</ul>
