<h1>Calling all superheroes. What's your superpower?</h1>
<section class="projects">
	<section class="project-1">
		<h2>Technology</h2>
		<p>Your Mission: Ben's Lighthouse needs a new website, and you are just the superhero to do it!</p>
		<a href="#">Start your mission</a>
	</section>
	<section class="project-2">
		<h2>Crafts</h2>
		<p>Your Mission: Project Sunshine needs Surgi dolls, and you are just the superhero to do it!</p>
		<a href="project-sunshine.html">Start your mission</a>
	</section>
	<section class="project-3">
		<h2>Making people happy</h2>
		<p>Your Mission: Soldiers overseas need cards, and you are just the superhero to do it!</p>
		<a href="#">Start your mission</a>
	</section>
</section>