<!DOCTYPE html>
<html lang="en">
  	<head>
  		<meta charset="UTF-8">
  		<meta name ="viewport" content="width=device-width, user-scalable=no">
		<title>Beacons</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
  	</head>

  	<body>
		<header>
			<h1>BEACONS</h1>
<!--		<nav>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Discover</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
-->
		</header>
		
		<h1>Calling all superheroes. What's your superpower?</h1>
		<section class="projects">
			<section class="project-1">
				<h2>Technology</h2>
				<p>Your Mission: Ben's Lighthouse needs a new website, and you are just the superhero to do it!</p>
				<a href="#">Start your mission</a>
			</section>
			<section class="project-2">
				<h2>Crafts</h2>
				<p>Your Mission: Project Sunshine needs Surgi dolls, and you are just the superhero to do it!</p>
				<a href="project-sunshine.html">Start your mission</a>
			</section>
			<section class="project-3">
				<h2>Making people happy</h2>
				<p>Your Mission: Soldiers overseas need cards, and you are just the superhero to do it!</p>
				<a href="#">Start your mission</a>
			</section>
		</section>



  	</body>

</html>