<div class="landing">

	<div class="description">
		<h1 class="arc sub-h1">Become an online</h1>
		<h1 class="heading rotate arc title" id="superhero">superhero</h1>
	</div>

	<div class="user">

		<h2 class="blurb">BEACONS MATCHES SUPERHERO KIDS WITH SUPER COOL GOOD CAUSES. SIGN UP TODAY TO START HELPING OTHERS AND BECOME AN ONLINE SUPERHERO.</h2>

		<% unless user_signed_in? %>
			<%= link_to "Sign in", new_user_session_path, class: "signin button" %>
			<%= link_to "Sign up", new_user_registration_path, class: "signup button" %>
		<% end %>

	</div>

</div>