<div class="landing clearfix">

	<div class="description">
		<%= image_tag("beacon_beagle.png") %>
	</div>

	<div class="user">
		<div class="logo">
			<%= image_tag("logo.png") %>
		</div>
		<h2 class="blurb">Beaconheroes.com matches superhero kids to super good causes.</h2>
		<div class="landing-button">
			<%= link_to "Sign in", new_user_session_path, class: "signin button2" %>
			<%= link_to "Get Started", new_user_registration_path, class: "signup button2" %>
		</div>
	</div>

</div>