<!DOCTYPE html>
<html lang="en">
  	<head>
  		<meta charset="UTF-8">
  		<meta name ="viewport" content="width=device-width, user-scalable=no">
		<title>Beacons</title>
		<link rel="stylesheet" href="href="../../assets/stylesheets/style.css"" type="text/css" media="screen">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  	</head>

	<body>
		<section class="container">
				<h1>Want to be an online superhero?</h1>
				<section class="community-code">
					<h2>Enter your code to begin helping others and get your superpowers.</h2>
					<form name="input" action="sign-up.html" method="get">
						<p>Community Code: </p><input type="text" name="user" class="text-box"><br>
						<input type="submit" value="Submit" class="btn">
						<p><a href="#" class="small-link">How do I get this code?</a></p>
					</form>
				</section>
		</section>
	</body>

</html>