
<h1>Make crafts to save the day. And get the flying superpower while you’re at it.</h1>

<ol class="steps">
	<li><h2>Make the Surgi Dolls.</h2></li>
	<li><h2>Take a picture and upload it.</h2></li>
		<form action="#" method="post">
			<p>Choose your file to upload:<br>
				<input type="file" name="datafile" size="40">
			</p>
			<div>
				<input type="submit" value="Send">
			</div>
		</form>
	<li><h2>Submit your photo to get your superpower.</h2></li>
	<li><h2>Send the Surgi Dolls.</h2></li>
	<li><h2>Save the day.</h2></li>
</ol>