<section class="container">
		<h1>Sign up</h1>
		<section class="community-code">
			<form name="input" action="user-profile.html" method="get">
				<p>Pick your favorite superhero for your username:</p>
				<select required>
				  <option value="Superman">Superman</option>
				  <option value="Spiderman">Spiderman</option>
				  <option value="Batman">Batman</option>
				  <option value="Wonderwoman">Wonderwoman</option>
				  <option value="Frozone">Frozone</option>
				  <option value="Catwoman">Catwoman</option>
				</select>

				<p>Choose a password</p>
				Password: <input type="password" name="pwd"><br>
				<input type="submit" value="Submit" class="btn">
			</form>				

		</section>
</section>