<h1>MISSION BOARD</h1>

<div class="mission-board">

	<% unless Connection.where(user_id: current_user.id).blank? %>

		<% @user.projects.each do |project| %>
			<%= project.name %> 
				<%= link_to "View", project_path(project) %>
		<% end %>

	<% else %>

		<p class="no-missions">YOU DON'T HAVE ANY <span>MISSIONS</span> YET! VISIT THE
			<span><%= link_to "DISCOVER", discover_path %></span>
			PAGE TO SEE WHO NEEDS YOUR HELP.
		</p>

	<% end %>

</div>