.custom-menu {
margin: 50px 10%;  
height: 400px; 
max-width: 80%%
} 
 
 
.custom-menu li { 
max-width: 30%;
min-width: 230px;
height: 300px;
overflow: hidden;
position: relative;
float: left;
background: #fff;
margin: 20px 0 20px 3%; 
border: 5px solid #e3e3e3;
border-radius: 10px; 
transition: 500ms; 
-webkit-transition: 500ms; /* Safari & Chrome */
-o-transition: 500ms; /* Opera */
-moz-transition: 500ms; /* Old firefox */
 
}

li.custom-menu1 {
	margin-left: 0;
} 
 
.custom-menu li a { 
text-align: center; 
text-decoration: none; 
font-family: Helvetica, ;

} 
 
 
.custom-menu li:hover {
border: 5px solid #FFA227;
background-color: #014B67;
  
} 
 
 
.content { 
margin-top: 32px; 
} 
 
 
.link { 
font-size: 27px; 
color: #000000;  
font-family: 'helsinki-webfont', sans-serif;
transition: 500ms; 
-webkit-transition: 500ms;  /* Safari & Chrome */
-o-transition: 500ms;   /* Opera */
-moz-transition: 500ms;  /* Old firefox */
}
 
.custom-menu li:hover .link {
color: #fff; 
font-size: 34px; 
}
 
.secondary { 
color: #fff; 
font-family: Arial, sans-serif;
font-weight: 700;
font-size: 1.6em;
transition: 500ms;
-webkit-transition: 500ms; /* Safari & Chrome */
-o-transition: 500ms; /* Opera */
-moz-transition: 500ms; /* Old firefox */
} 
 
.custom-menu li:hover .secondary { 
 background-color: #FFA227; 
 height: 30px; 
 padding: 7px 0; 
} 
 
.info { 
font-size: 18px; 
color: #000000;
margin-top: -27px;  
padding: 14px; 
transition: 500ms;
-webkit-transition: 500ms; /* Safari & Chrome */
-o-transition: 500ms; /* Opera */
-moz-transition: 500ms; /* Old Firefox */
} 
 
.custom-menu li:hover .info {
transform: translateX(-400px) rotate(360deg); 
-webkit-transform: translateX(-400px) rotate(360deg); /* Safari & Chrome */
-o-transform: translateX(-400px) rotate(360deg);  /* Opera */
-moz-transition: translateX(-400px) rotate(360deg);  /* Old Firefox */
}
 
 
.mission { 
transition: 500ms; 
-webkit-transition: 500ms; /* Safari & Chrome */ 
-o-transition: 500ms; /* Opera */
-moz-transition: 500ms; /* Old Firefox */
transform: translate(-400px) rotate(360deg);
-webkit-transform: translate(-400px) rotate(360deg); /* Safari & Chrome */
-o-transform: translate(-400px) rotate(360deg); /* Opera */
-moz-transform: translate(-400px) rotate(360deg); /* Old Firefox */
}
 
.custom-menu li:hover .mission {
transform: translateY(-135px) rotate(0deg); 
-webkit-transform: translateY(-135px) rotate(0deg); /* Safari & Chrome */
-o-transform: translateY(-135px) rotate(0deg); /* Opera */
-moz-transform: translateY(-135px) rotate(0deg); /* Old Firefox */
color: white;
	font-family: Arial, sans-serif;
line-height: 1.5em;
font-size: 1.2em;
padding: 10px;
} 
 
 
 
 
 
 
/* Colors */
li.custom-menu1:hover { 
	background-color: #000;
}
  
li.custom-menu2:hover { 
	background-color: #000;
} 
 

li.custom-menu3:hover {
	background-color: #000;
} 

img#project_icons {
	height: 100px;
	width: 100px;
}