.custom-menu {
margin: 90px auto;  
height: 400px; 
width: 76%
} 
 
 
.custom-menu li { 
width: 300px;
height: 300px;
overflow: hidden;
position: relative;
float: left;
background: #fff;
margin: 20px; 
border: 5px solid #e3e3e3;
border-radius: 10px; 
transition: 500ms; 
-webkit-transition: 500ms; /* Safari & Chrome */
-o-transition: 500ms; /* Opera */
-moz-transition: 500ms; /* Old firefox */
 
} 
 
.custom-menu li a { 
text-align: center; 
text-decoration: none; 
font-family: Helvetica, ;

} 
 
 
.custom-menu li:hover {
border: 5px solid #29abe2;
background-color: #014B67;
  
} 
 
 
.content { 
margin-top: 32px; 
} 
 
 
.link { 
font-size: 27px; 
color: #000000;  
font-family: 'Bangers', cursive; 
transition: 500ms; 
-webkit-transition: 500ms;  /* Safari & Chrome */
-o-transition: 500ms;   /* Opera */
-moz-transition: 500ms;  /* Old firefox */
}
 
.custom-menu li:hover .link {
color: #fff; 
font-size: 34px; 
}
 
.secondary { 
color: #fff; 
font-family: 'Aldrich', sans-serif;
font-weight: 700;
transition: 500ms;
-webkit-transition: 500ms; /* Safari & Chrome */
-o-transition: 500ms; /* Opera */
-moz-transition: 500ms; /* Old firefox */
} 
 
.custom-menu li:hover .secondary { 
 background-color: #29abe2; 
 height: 30px; 
 padding-top: 4px; 
} 
 
.info { 
font-size: 18px; 
color: #000000;
margin-top: -27px;  
padding: 14px; 
transition: 500ms;
-webkit-transition: 500ms; /* Safari & Chrome */
-o-transition: 500ms; /* Opera */
-moz-transition: 500ms; /* Old Firefox */
} 
 
.custom-menu li:hover .info {
transform: translateX(-400px) rotate(360deg); 
-webkit-transform: translateX(-400px) rotate(360deg); /* Safari & Chrome */
-o-transform: translateX(-400px) rotate(360deg);  /* Opera */
-moz-transition: translateX(-400px) rotate(360deg);  /* Old Firefox */
}
 
 
.mission { 
transition: 500ms; 
-webkit-transition: 500ms; /* Safari & Chrome */ 
-o-transition: 500ms; /* Opera */
-moz-transition: 500ms; /* Old Firefox */
transform: translate(-400px) rotate(360deg);
-webkit-transform: translate(-400px) rotate(360deg); /* Safari & Chrome */
-o-transform: translate(-400px) rotate(360deg); /* Opera */
-moz-transform: translate(-400px) rotate(360deg); /* Old Firefox */
}
 
.custom-menu li:hover .mission {
transform: translateY(-135px) rotate(0deg); 
-webkit-transform: translateY(-135px) rotate(0deg); /* Safari & Chrome */
-o-transform: translateY(-135px) rotate(0deg); /* Opera */
-moz-transform: translateY(-135px) rotate(0deg); /* Old Firefox */
color: white;
font-family: 'Aldrich', sans-serif;
line-height: 2em;
padding: 10px;
} 
 
 
 
 
 
 
/* Colors */
li.custom-menu1:hover { 
}
  
li.custom-menu2:hover { 
} 
 

li.custom-menu3:hover {
 
} 

img#project_icons {
	height: 100px;
	width: 100px;
}