.footer {
	background-color: #2897EA;
	height: 175px;
	padding: 70px;
}

.footer p {
	color: #FFF;
	font-family: Arial, sans-serif;
	font-weight: 700;
}

.footer li {
	color: #FFF;
	list-style-type: none;
	font-family: Arial, sans-serif;
	font-size: 0.7em;
	line-height: 1.8em;
}

.footer li a {
	text-decoration: none;
	color: #FFF;
}

.footer li a:hover {
	border-bottom: 1px solid white;
}

.help {
	float: left;
}

.social-media {
	float: left;
	margin-left: 100px;
}