.mission-board {
	margin: 0 auto;
	width: 50ex;
	border: 3px solid black;
	padding: 7px 20px;
}

p.no-missions {
	text-align: center;
	font-family: 'playtime-webfont';
	font-size: 1.5em;
}

.no-missions span p {
	font-family: 'comic_zine_ot-webfont';
}