<div class="footer">
	<section class="help">

		<ul>
			<p class="foot">How can we help?</p>
			<li><a href="#">Frequently Asked Questions</a></li>
			<li><a href="#">Safety Information</a></li>
			<li><a href="#">Contact</a></li>
		</ul>

	</section>


	<section class="social-media">

		<ul>
			<p class="foot">Connect with us!</p>
			<li>Facebook</li>
			<li>Twitter</li>
		</ul>

	</section>

</div>