<!DOCTYPE html>
<html lang="en">
  	<head>
  		<meta charset="UTF-8">
  		<meta name ="viewport" content="width=device-width, user-scalable=no">
		<title>Beacons</title>
		<link rel="stylesheet" href="../../assets/stylesheets/nav.css" type="text/css" media="screen">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  	</head>

  	<body>
  		<header>
  			<section class="logo">
          <h1 class="rotate">Beacons</h1>
  			</section>

    		<nav>
    			<ul class="main-nav">
    				<li><a href="#">About</a></li>
    				<li><a href="#">Discover</a><li>
    				<li><a href="#"><img src="../../assets/images/icon_settings.png" class="settings"></a>
    					<ul class="settings">
    						<li><a href="#">My Mission Board</a></li>
    						<li><a href="#">Account Settings</a></li>
    						<li><a href="#">Sign Out</a></li>
              </ul>
            </li>
    			</ul>
    		</nav>
      </header>
  	</body>
</html>