<!DOCTYPE html>
<html lang="en">
  	<head>
  		<meta charset="UTF-8">
  		<meta name ="viewport" content="width=device-width, user-scalable=no">
		<title>Beacons</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  	</head>

	<body>
<!--	<header>
			<section class="logo">
				<h1>BEACONS</h1>
			</section>
			<nav class="global-nav clearfix">
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Discover</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</header>
-->
		<section class="container">
				<h1>Sign up</h1>
				<section class="community-code">
					<form name="input" action="discover.html" method="get">
						<p>Pick your favorite superhero for your username:</p>
						<select required>
						  <option value="Superman">Superman</option>
						  <option value="Spiderman">Spiderman</option>
						  <option value="Batman">Batman</option>
						  <option value="Wonderwoman">Wonderwoman</option>
						  <option value="Frozone">Frozone</option>
						  <option value="Catwoman">Catwoman</option>
						</select>

						<p>Choose a password</p>
						Password: <input type="password" name="pwd"><br>
						<input type="submit" value="Submit" class="btn">
					</form>				

				</section>
		</section>
	</body>

</html>