<!DOCTYPE html>
<html lang="en">
  	<head>
  		<meta charset="UTF-8">
  		<meta name ="viewport" content="width=device-width, user-scalable=no">
		<title>Beacons</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  	</head>

	<body>
<!--	<header>
			<section class="logo">
				<h1>BEACONS</h1>
			</section>
			<nav class="global-nav clearfix">
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Discover</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</header>
-->
		<section class="container">
				<h1>Thanks for signing up, *username*!</h1>
				<section class="community-code">
					<form name="input" action="discover.html" method="get">
						<p>What do you like to do?</p>
							<input type="checkbox" name="crafts" value="Bike">Arts and crafts<br>
							<input type="checkbox" name="send" value="Car">Write and send cards to people who need them<br> 
							<input type="checkbox" name="helpkids" value="Car">Talk to kids in other countries<br>
						<input type="submit" value="Submit" class="btn">
					</form>				

				</section>
		</section>
	</body>

</html>